.filter-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-width: 20rem;
  padding-left: 0;
  width: 25vw;
}

.filter-list__link {
  margin-bottom: $spacing-sm;

  &.active {
    font-weight: 900;

    &::before {
      content: $entity-checkmark;
    }
  }
}

.filter-list__heading {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-sm;
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: $spacing-md;
  }
}
