.index-table {
  border: $base-border;
  display: block;
}

.index-table__header {
  background-color: $gray-100;
  border-bottom: $base-border;
  padding: $spacing-sm;
}

.index-table__header-input {

}

.index-table__header-collections {
  display: flex;
  justify-content: space-between;
}

.index-table__item {
  display: flex;
  justify-content: space-between;
  padding: $spacing-sm;

  &:hover {
    background-color: $background-color-alt;
  }

  &:not(:last-child) {
    border-bottom: $base-border;
  }
}
