.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-card__text {
  display: grid;
  flex: 1;
  grid:
    'title      title'  min-content
    'status     status' min-content
    /1fr         min-content;
  grid-gap: $spacing-sm;
  padding: $spacing-sm;
}

.movie-card__title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  grid-area: title;
}

.movie-card__tagline {
  font-style: italic;
  grid-area: tagline;
}

.movie-card__status {
  grid-area: status;
}

.movie-card__image {
  background-color: $gray-200;
  border-radius: $radius;
  grid-area: image;
  height: 32rem;
  width: 100%;
}
