.site-body {
  display: flex;
  flex: 1;
  padding: 0 $spacing-lg;
}

.site-body__content {
  display: flex;
  flex: 1;
  margin: $spacing-lg auto;
  max-width: $container-width;
}

main {
  width: 100%;
}
