.site-header {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-300;
  height: $site-header-height;
  padding: 0 $spacing-lg;
}

.site-header__content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $container-width;
  white-space: nowrap;
}

.site-header__logo {
  margin-right: $spacing-md;
}
