/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

spec/example_app/.env
spec/example_app/log/*
spec/example_app/tmp/*
spec/example_app/public/assets

node_modules/
