<li class="movie-card">
  <div class="movie-card__title">
    <%= movie.title %>
  </div>
  <div class="movie-card__tagline">
    <%= movie.tagline %>
  </div>
  <div class="movie-card__status">
    <%= movie.status %>
  </div>
</li>
