<li class="movie-card">
  <div class="movie-card__image">
  </div>
  <div class="movie-card__text">
    <div class="movie-card__title">
      <%= movie.title %>
    </div>
    <div class="movie-card__status">
      <%= movie.status %>
    </div>
  </div>
</li>
