<div class="container">
  <h1>Movies</h1>

  <div class="index-table">
    <div class="index-table__header u-justify-space-between u-align-center">
    </div>

    <ul>
      <%= render(movies) || render("empty_index") %>
    </ul>
  </div>
</div>
