* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  color: $font-color-base;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: $font-size-medium;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a,
a:visited {
  color: $action-color;
  text-decoration: none;
}
