// Colors

$white: #FFFFFF;
$gray-100: #f4f5f6;
$gray-200: #e5e6e8;
$gray-300: #cfd2d6;
$gray-400: #c2c5c9;
$gray-500: #abafb4;
$gray-600: #91959c;
$gray-700: #63676b;
$gray-800: #494b4e;
$gray-900: #262729;

$background-color-base: #ffffff;
$background-color-alt: #f4f4f4;

$font-color-base: $gray-900;
$font-color-inverse: #ffffff;

$action-color: #3519b9;
$inverse-action-color: #001DB5;

// Site

$site-header-height: 9rem;
$container-width: 120rem;

// Font sizes

$font-size-small:  1.4rem;
$font-size-medium: 1.6rem;
$font-size-large:  2.0rem;
$font-size-heading: 2.6rem;

// Font weights

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// Spacing sizes

$spacing-xs: 0.4rem;
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;
$spacing-xl: 6.4rem;

// Borders

$radius: 4px;

// Default transitions

$fast-transition: 0.1s ease;
$base-transition: 0.35s ease;
$slow-transition: 0.5s ease;

// HTML Entities

$entity-checkmark: "\2713"; //✓
