// Colors

$white: #FFFFFF;
$gray-100: #f4f5f6;
$gray-200: #e5e6e8;
$gray-300: #cfd2d6;
$gray-400: #c2c5c9;
$gray-500: #abafb4;
$gray-600: #91959c;
$gray-700: #63676b;
$gray-800: #494b4e;
$gray-900: #262729;

$table-header-color: $gray-100;
$table-hover-color: #fff9d8;

$background-color-base: #ffffff;
$background-color-alt: #f4f4f4;

$font-color-base: $gray-900;
$font-color-inverse: #ffffff;

// Font sizes

$font-size-small:  1.2rem;
$font-size-medium: 1.4rem;
$font-size-large:  1.8rem;
$font-size-heading: 2.4rem;

// Font weights

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights

$line-height-base: 1.4;
$line-height-tall: 1.8;

// Size system

$spacing-xs: 0.4rem;
$spacing-sm: 0.8rem;
$spacing-md: 1.6rem;
$spacing-lg: 3.2rem;
$spacing-xl: 6.4rem;

// Default styles

$base-border: 1px solid $gray-300;
$base-border-radius: 4px;
$input-box-shadow: inset 1px 2px 4px 1px rgba(#000000, 0.12);

// Default transitions

$fast-transition: 0.1s ease;
$base-transition: 0.35s ease;
$slow-transition: 0.5s ease;

// HTML Entities

$entity-checkmark: "\2713"; //✓
$entity-triangle-down: "\25BC" //▼

